h1{
    text-align: center;
    size: 150;
    color: mediumblue;
}
.igen{
    text-decoration: underline;
   
    
}

p{
    text-align: center;
    
 }


body{
    background-color: palegreen
    
}

.td{
    text-decoration: underline;
    size: 600px;
    color: #ff4800
}

.td1{
    text-decoration: underline;
    size: 600px;
    color: #6dcfeb
}

.td2{
    text-decoration: underline;
    size: 600px;
    color: #71797E
}

.td3{
    text-decoration: underline;
    size: 600px;
    color: #FFB3BE
}

.td4{
    text-decoration: underline;
    size: 600px;
    color: #0f460b
}

.td5{
    text-decoration: underline;
    size: 600px;
    color: black
}

img{
    width: 150px  ;

}

.félkövér{
    font-family: Arial, Helvetica, sans-serif;
}

